{% extends 'index.html' %}

{% block title %}Объявления{% endblock %}

{% block content %}
    <h1>Объявления</h1>

    {% if advert_list %}
        <ul>
            {% for advert in advert_list %}
                <li><a href="{% url 'ads:advert-detail' pk=advert.pk %}">{{ advert.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет объявлений.</p>
    {% endif %}

    {% if is_author %}
        <p>Вы автор объявлений.</p>
    {% endif %}

    <p>Текущее время: {{ time_now }}</p>

    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock %}
