{% extends 'index.html' %}
{% block title %}Профиль{% endblock %}
{% block content %}
  <h1>Профиль</h1>

  <h2>Информация о профиле</h2>
  <p>Имя пользователя: {{ user.username }}</p>
  <p>Email: {{ user.email }}</p>

  <!--<h2>Подписки</h2>-->
  <!--{% for subscription in subscriptions %}-->
  <!--    <p>{{ subscription }}</p>-->
  <!--{% empty %}-->
  <!--    <p>Нет активных подписок.</p>-->
  <!--{% endfor %}-->

  <!--<h2>Отзывы о объявлениях</h2>-->
  <!--{% for review in reviews %}-->
  <!--    <p>{{ review }}</p>-->
  <!--{% empty %}-->
  <!--    <p>Нет отзывов.</p>-->
  <!--{% endfor %}-->

  <h2>Личные данные</h2>
  <p>Имя: {{ user.first_name }}</p>
  <p>Фамилия: {{ user.last_name }}</p>
  <!-- Дополнительные поля личных данных -->
{% endblock %}
