{% extends 'index.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
  <h1>Вход</h1>
  <form method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    <!-- Форма входа -->
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username">

    <label for="password">Пароль:</label>
    <input type="password" name="password" required>

    <input type="hidden" name="next" value="{{ request.GET.next }}">

    {% if user.is_new_user %}
      <!-- Форма ввода кода подтверждения -->
      <label for="confirmation_code">Код подтверждения:</label>
      <input type="text" id="confirmation_code" name="confirmation_code" required>
    {% endif %}

    <button type="submit">Войти</button>
  </form>
{% endblock %}