<!DOCTYPE html>
{% load static %}
{% load custom_filters %}
{% load custom_tags %}
{% load i18n %}
{% load tz %}

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>

    <style>
        body {background-color: {% if current_time.hour >= 19 or current_time.hour <= 7 %} darkcyan {% else %} powderblue {% endif %};}
    </style>
</head>
<body>
<!-- Responsive navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container-fluid justify-content-center">
        <!-- Добавлен класс justify-content-center для центрирования -->
        <a class="nav-link" href="/news">Все новости</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/subscriptions/">Подписка</a>
                </li> <!-- Добавлены закрывающие теги li -->
                <li class="nav-item active">
                    <a class="nav-link" href="/news/search">Поиск</a>
                </li> <!-- Добавлены закрывающие теги li -->
                {% if user.username %}
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/logout">Выйти</a>
                </li> <!-- Добавлены закрывающие теги li -->
                <li class="nav-item">
                    <a class="nav-link" href="/news">Вы вошли как {{ user.username }}</a>
                </li> <!-- Добавлены закрывающие теги li -->
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/login">Войти</a>
                </li> <!-- Добавлены закрывающие теги li -->
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- Кнопка для переключения языка -->
<form action="{% url 'set_language' %}" method="POST">
    {% csrf_token %}
    <!-- Поле для перенаправления пользователя после переключения языка -->
    <input type="hidden" name="next" value="{{ redirect_to }}">

    <select name="language" id="">
        {% get_available_languages as LANGUAGES %} <!-- Получаем список доступных языков -->
        {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->

        {% for language in languages %} <!-- Итерируемся по списку и выводим языки -->
        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
            {{ language.name_local }} - {{ language.code }}
        </option>
        {% endfor %}
    </select>
    <input type="submit" value="Set">
</form>

<!-- Page content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</div>
</body>
</html>