<!DOCTYPE html>
{% load static %}

{% load i18n %}
{% load tz %}
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>

    <style>
        body {background-color: {% if current_time.hour >= 19 or current_time.hour <= 7 %} darkcyan
        {% else %} powderblue {% endif %};}
    </style>
</head>
<body>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>© 2023 Доска объявлений. All rights reserved.</p>
</footer>
</body>
</html>

