<!DOCTYPE html>
{% load static %}

{% load i18n %}
{% load tz %}
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>

    <style>
        body {
            background-color: lightgray;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container-fluid justify-content-center">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/ads">Все объявления</a>
            </li>
            {% if user.username %}
            <li class="nav-item">
                <a href="{% url 'users:logout' %}">Выйти</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ads/private">Приватная страница {{ user.username }}</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{% url 'users:signup' %}">Регистрация</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'users:login' %}">Войти</a>
            </li>
            {% endif %}
        </ul>
        </div>
    </div>
</nav>

<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-16 text-center">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
</main>

<footer>
    <p>© 2023 Доска объявлений. All rights reserved.</p>
</footer>
</body>
</html>

