/* Общие стили для текста */
body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: black;
}

/* Стили для заголовков */
h1, h2, h3 {
  color: black;
}

/* Стили для обычного текста */
p {
  color: black;
}

/* Стили для надписей синего цвета */
a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  color: white;
  text-align: center;
  padding: 10px 0;
}

header {
  background-color: #fff;
  padding: 10px;
}

header a {
  color: #333;
  text-decoration: none;
  margin-right: 10px;
}

header a:hover {
  color: blue;
}